<div ng-controller="MainCtrl">
    <div class="single-service-page services-parent-div">
        <div class="col-md-6">
            <div class="service-title purchase">
                <h2>Airtime Purchase</h2>
            </div>
            <img src="../images/purchase-airtime.jpg" class="img-responsive">
        </div>
        <div class="col-md-6 service-text">
            <p>Lorem ipsum dolor sit amet, velit dicunt ocurreret id quo. Decore timeam utamur vel in. Pro no euismod voluptatum, soleat sententiae has te, quo id etiam officiis. Recusabo repudiare adipiscing eum ne, eos ut veniam iisque nusquam.</p>
        </div>
    </div>
</div>
