<div ng-controller="DashboardCtrl" data-ng-init="getUser()">
  <div ng-if="user.role==='admin'">
    <a href="/#/create-Blog">
      <button class="btn btn-sm btn-default glyphicon glyphicon-plus" type="button">
      </button>Create A Blog
    </a>
  </div>
  <div ng-contoller="BlogsCtrl">
    <div class="row">
      <div class="services-list clearfix col-md-12" data-ng-init="displayBlogs()">
        <div id="home_div">
          <div class="list-group">
            <div class="list-group-item" ng-repeat="blog in blogs">
              <a href="/#/community/blogs/{{blog._id}}">
                <img ng-src="" class="face" alt="">
                <div class="md-list-item-text discussion-div blog-body">
                  <h3>{{blog.title}}</h3>
                  <em>by: {{blog.user.username}}</em>
                </div>
              </a>
              <button style="color:#2A68C9;" class="btn btn-sm btn-default glyphicon glyphicon-trash pull-right" type="button" ng-click="deleteBlog(blog, blogs, $index)" ng-if="user.role=='admin'">
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
