<div ng-controller="DashboardCtrl" data-ng-init="getUser()">
  <div class="row" ng-if="user.role==='admin'">
    <a href="/#/create-Blog">
      <button class="btn btn-sm btn-default glyphicon glyphicon-plus" type="button">
      </button>Create A Blog
    </a>
  </div>
  <div ng-contoller="BlogsCtrl">
    <div ng-cloak class="discussion-div">
      <md-content>
        <md-list data-ng-init="displayBlogs()">
          <md-list-item ng-if="blogs.length === 0">
            <p>There are no posts to view.</p>
          </md-list-item>
          <md-list-item class="md-3-line" ng-repeat="blog in blogs">
            <img ng-src="" class="face" alt="">
            <div class="md-list-item-text discussion-div">
              <a href="/#/community/blogs/{{blog._id}}">
                <h3>{{blog.title}}</h3>
                <em><b>by: </b>{{blog.user.username}}</em></a>
              <button style="color:#2A68C9;" class="btn btn-sm btn-default glyphicon glyphicon-trash pull-right" type="button" ng-click="deleteBlog(blog, blogs, $index)" ng-if="user.role=='admin'">
              </button>
            </div>
            <md-divider md-inset ng-if="!$last"></md-divider>
          </md-list-item>
        </md-list>
      </md-content>
    </div>
