<div ng-controller="DiscussionsCtrl">
  <div class="col-md-12">
    <div class="panel panel-blue community-box">
      <div class="panel-heading">Community</div>
      <div class="panel-body community-body">
        <md-list>
          <md-list-item>
            <a href="/#/community/blogs">
              <p>Blogs</p>
            </a>
          </md-list-item>
          <md-list-item>
            <a href="/#/community/discussions">
              <p>Discussions</p>
            </a>
          </md-list-item>
        </md-list>
      </div>
    </div>
  </div>
</div>
