<div class="container input-form" ng-controller="DiscussionsCtrl">
  <div class="col-md-12 new-app">
    <div ng-cloak class="discussion-div">
      <!-- <md-content> -->
        <md-list>
          <md-list-item>
            <a href="/#/community/blogs">
              <p>Blogs</p>
            </a>
          </md-list-item>
          <a href="/#/community/discussions">
            <md-list-item class="md-3-line">
              <p>Discussions</p>
            </md-list-item>
          </a>
        </md-list>
      <!-- </md-content> -->
    </div>
  </div>
