<div ng-controller="DiscussionsCtrl">
  <div ng-controller="AuthenticationCtrl">
    <div ng-controller="BlogsCtrl">
      <md-content layout-padding>
        <form name="discussionForm">
          <md-input-container class="md-block">
            <label>Title</label>
            <input required name="title" ng-model="blog.title">
            <div ng-messages="discussionForm.title.$error">
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Content</label>
            <input required name="clientName" ng-model="blog.blogContent">
            <div ng-messages="discussionForm.blogContent.$error">
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Caption</label>
            <input required name="caption" ng-model="blog.caption" />
            <div ng-messages="discussionForm.caption.$error" role="alert">
            </div>
          </md-input-container>
          <div data-ng-show="error" class="text-danger">
            <strong data-ng-bind="error" style="color:#F00;"></strong>
          </div>
          <md-button ng-click="newBlog(blog, user._id, user.role)">New Blog</md-button>
        </form>
      </md-content>
    </div>
  </div>
</div>
