<div ng-controller="DashboardCtrl">
  <div class="row dashboard-parent-div">
    <div class="col-md-12">
      <div class="config-panel">
        <ul>
          <li ng-class="{active: $index === selectedIndex}" ng-repeat="tab in tabViews">
            <a ng-click="switchTab($index)">
              <h4>{{tab}}</h4>
            </a>
          </li>
        </ul>
      </div>
      <br>
      <div ng-show="selectedIndex === 0" class="row input-form">
        <div class="col-md-12">
          <div class="col-md-2">
            <p>ADD APP
              <button class="btn btn-sm btn-default glyphicon glyphicon-plus" type="button" ng-click="addAppPage()">
              </button>
            </p>
            <!-- <ul> -->
            <!-- <li ng-class="{active: $index === selectedTabForApp}" ng-repeat="tab in tabForAppViews">
                <a ng-click="switchTabForApp($index)">
                  <h4>{{tab}}</h4>
                </a>
              </li> -->
            <!--  -->
            <!-- </ul> -->
          </div>
          <div class="col-md-10">
            <div ng-show="selectedTabForApp === 0" data-ng-init="listApps()">
              <div data-ng-repeat="app in apps" ng-if="!newAppForm">
                <div class="app-div">
                  <!-- <a> -->
                  <h2 class="app-name">Name: {{app.name}}</h2>
                  <button class="btn btn-sm btn-default glyphicon glyphicon-trash pull-right" type="button" ng-click="deleteApp(app, $index)">
                  </button>
                  <p>Description: {{app.description}}</p>
                  <em class="app-owner">Key: {{app.key}}</em>
                  <hr>
                  <div>
                    Services Calls
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Payments</th>
                          <th>Transfers</th>
                          <th>Recharges</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td data-ng-bind="app.paymentCount"></td>
                          <td data-ng-bind="app.transferCount"></td>
                          <td data-ng-bind="app.rechargeCount"></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div ng-if="newAppForm">
                <form ng-submit="newApp(app)">
                  <div class="form-group has-feedback">
                    <input type="text" class="form-control login-input" placeholder="App Name" ng-model="app.name ">
                  </div class="form-group has-feedback">
                  <div class="form-group has-feedback">
                    <input type="text" class="form-control login-input" placeholder="App Description" ng-model="app.description">
                  </div class="form-group has-feedback">
                  <select ng-model="app.selectedkey" data-ng-init="listKeys()" class="select-key">
                    <option ng-repeat="singleKey in userKeys" value="{{singleKey.key}}" style="overflow:hidden;">{{singleKey.key}}</option>
                  </select>
                  <div class="col-xs-12">
                    <button class="btn btn-tia-primary btn-block btn-flat">Create App</button>
                  </div>
                  <!--select the key for the app from the users keys-->
                </form>
              </div>
            </div>
            <!-- <div ng-show="selectedTabForApp === 1">
              <p>Sample App</p>
            </div> -->
          </div>
        </div>
      </div>
      <div ng-show="selectedIndex === 1">
        <div data-ng-init="listKeys()">
          <h2>MY KEYS</h2>
          <button class="btn btn-sm btn-default glyphicon glyphicon-plus" type="button" ng-click="addKey()">
          </button>
          <div data-ng-repeat="singleKey in userKeys">
            <div class="api-key">
              <b>KEY:</b>
              <p>{{singleKey.key}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
