<div ng-controller="DashboardCtrl" data-ng-init="getUser()">
  <div class="dashboard-parent-div" ng-if="user.role === 'developer'">
    <div class="col-md-12">
      <div class="config-panel">
        <ul>
          <li>
            <a>
              <h4>MY APPS</h4>
            </a>
          </li>
        </ul>
      </div>
      <br>
      <div class="row input-form">
        <div class="col-md-12">
          <div class="col-md-2 new-app">
            <a href="/#/user/{{userId}}/dashboard/create-app">
              <button class="btn btn-sm btn-default glyphicon glyphicon-plus" type="button">
              </button>
            </a>
            NEW APP
            <!-- </p> -->
          </div>
          <div class="col-md-10">
            <div ng-show="selectedTabForApp === 0" data-ng-init="listApps()">
              <div data-ng-repeat="app in apps" ng-if="!newAppForm">
                <div class="row">
                  <!-- <div class="col-md-8"> -->
                  <div class="app-div">
                    <a href="/#/user/{{user._id}}/dashboard/app/{{app._id}}">
                      <h2 class="app-name">Name: {{app.name}}</h2>
                      <button style="color:#2A68C9;" class="btn btn-sm btn-default glyphicon glyphicon-trash pull-right" type="button" ng-click="deleteApp(app, apps, $index)">
                      </button>
                      <hr>
                      <p>Description: {{app.description}}</p>
                    </a>
                    <!-- </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row dashboard-parent-div" ng-if="user.role !=='developer'">
    You are not a developer. Please sign in as a devloper to view this page
  </div>
</div>
