<div data-ng-controller="DashboardCtrl" data-ng-init="getUser()">
  <div class="col-md-10" data-ng-init="getApp()" ng-if="user.role ==='developer'">
    <form ng-submit="updateApp(app)">
      <div class="form-group has-feedback">
        <input type="text" class="form-control login-input" placeholder="App Name" ng-model="app.name ">
      </div>
      <div class="form-group has-feedback">
        <input type="text" class="form-control login-input" placeholder="App Description" ng-model="app.description">
      </div>
       {{emptyDataMessage}}
       <div class="col-xs-12 error-message" ng-show="message">
          <div class="col-xs-12" style="color:#F00;">{{message}}</div>
      </div>
      <div class="col-xs-12">
        <button class="btn btn-tia-primary btn-block btn-flat">Update App</button>
      </div>
    </form>
  </div>
  <div class="row dashboard-parent-div" ng-if="user.role !=='developer'">
    You are not a developer. Please sign in as a devloper to view this page
  </div>
</div>

