FORGOT PASSWORD FORM
<div class="login-box">
    <div class="login-box-body">
        <p class="login-box-msg">Password Reset</p>
        <form ng-submit="resetpassword()">
            <div class="form-group has-feedback">
                <input type="text" class="form-control login-input" placeholder="Email" ng-model="email" />
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center" ng-show="promiseLoader"><img class="loader" ng-src="{{promiseLoader}}"></div>
                <div class="col-xs-12 error-message" ng-show="message">
                    <div class="col-xs-12" ng-bind="message"></div>
                </div>
                <div class="col-xs-12">
                    <button class="btn btn-tia-primary btn-block btn-flat">Reset Password</button>
                </div>
                <!-- /.col -->
            </div>
        </form>
        <div class="social-auth-links text-center">
            <span>Back to <a href="/#/signin"class="text-center">Login</a></span>
        </div>
    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
