<div class="container-fluid" ng-controller="MainCtrl">
    <!-- <div class="row">
            <div class="col-md-4" ng-repeat="service in services">
                <div class="service-div">
                    <div class="service-title">
                        <h2 ng-bind="service.title"></h2>
                    </div>
                    <img src="">
                    <p ng-bind="service.about"></p>
                    <a href=""><p>Learn more about the API here</p></a>
                    <div class="hexagon">
                        
                    </div>
                </div>
            </div>
        </div> -->
    <div class="row">
        <div class="col-md-4">
            <div class="service-div">
                <div class="service-title purchase">
                    <h2>Airtime Purchase</h2>
                </div>
                <img src="../images/purchase-airtime.jpg">
                <p>This API allows people recharge their mobile phones from their devices"</p>
                <a href="/#/airtime">
                    <p>Learn more about the API here</p>
                </a>
                <div class="hexagon">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service-div">
                <div class="service-title transfer">
                    <h2>Transfer</h2>
                </div>
                <img src="../images/transfer.jpg">
                <p>Poeple who want to transfer money from their bank accounts, money wallets can use this</p>
                <a href="">
                    <p>Learn more about the API here</p>
                </a>
                <div class="hexagon">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service-div">
                <div class="service-title payment">
                    <h2>Payment</h2>
                </div>
                <img src="../images/payment.bmp">
                <p>This API is for bill or retail purchase payments</p>
                <a href="">
                    <p>Learn more about the API here</p>
                </a>
                <div class="hexagon">
                </div>
            </div>
        </div>
    </div>
</div>
