<div ng-controller="MainCtrl">
  <div class="services-parent-div">
    <div class="col-md-12 introduction">
      <p class="text-uppercase text-center">Lorem ipsum dolor sit amet</p>
    </div>
    <div class="col-md-4 service-main">
      <div class="service-div">
        <div class="service-title purchase">
          <h2>Airtime Purchase</h2>
        </div>
        <img src="../images/purchase-airtime.jpg" class="img-responsive">
        <div class="service-text">
          <p>Lorem ipsum dolor sit amet, velit dicunt ocurreret id quo. Decore timeam utamur vel in. Pro no euismod voluptatum, soleat sententiae has te, quo id etiam officiis. Recusabo repudiare adipiscing eum ne, eos ut veniam iisque nusquam.</p>
          <a href="/#/airtime-purchases" class="purchase-link">
            <p>Learn more about the API here</p>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4 service-main">
      <div class="service-div">
        <div class="service-title transfer">
          <h2>Transfers</h2>
        </div>
        <img src="../images/transfer.jpg" class="img-responsive">
        <div class="service-text">
          <p>Lorem ipsum dolor sit amet, velit dicunt ocurreret id quo. Decore timeam utamur vel in. Pro no euismod voluptatum, soleat sententiae has te, quo id etiam officiis. Recusabo repudiare adipiscing eum ne, eos ut veniam iisque nusquam.</p>
          <a href="/#/transfers" class="transfer-link">
            <p>Learn more about the API here</p>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4 service-main">
      <div class="service-div">
        <div class="service-title payment">
          <h2>Payments</h2>
        </div>
        <img src="../images/payment.bmp" class="img-responsive">
        <div class="service-text">
          <p>Lorem ipsum dolor sit amet, velit dicunt ocurreret id quo. Decore timeam utamur vel in. Pro no euismod voluptatum, soleat sententiae has te, quo id etiam officiis. Recusabo repudiare adipiscing eum ne, eos ut veniam iisque nusquam.</p>
          <a href="/#/payments" class="payment-link">
            <p>Learn more about the API here</p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- <p class="md-body-2">Body copy with medium weight.</p>
  <md-button>Button</md-button>
  <p class="md-body-1">Regular body copy <small class="md-caption">with small text</small>.</p>
  <span class="md-caption">Caption</span> -->
</div>
