<div class="container-fluid" ng-controller="MainCtrl">
    <!-- <div class="row">
            <div class="col-md-4" ng-repeat="service in services">
                <div class="service-div">
                    <div class="service-title">
                        <h2 ng-bind="service.title"></h2>
                    </div>
                    <img src="">
                    <p ng-bind="service.about"></p>
                    <a href=""><p>Learn more about the API here</p></a>
                    <div class="hexagon">
                        
                    </div>
                </div>
            </div>
        </div> -->
    <div class="row" "services-parent-div">
        <div class="col-md-4">
            <div class="service-div">
                <div class="service-title purchase">
                    <h2>Airtime Purchase</h2>
                </div>
                <img src="../images/purchase-airtime.jpg">
                <p>Lorem ipsum dolor sit amet, velit dicunt ocurreret id quo. Decore timeam utamur vel in. Pro no euismod voluptatum, soleat sententiae has te, quo id etiam officiis. Recusabo repudiare adipiscing eum ne, eos ut veniam iisque nusquam.</p>
                <a href="/#/airtime">
                    <p>Learn more about the API here</p>
                </a>
                <div class="hexagon">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service-div">
                <div class="service-title transfer">
                    <h2>Transfer</h2>
                </div>
                <img src="../images/transfer.jpg">
                <p>Lorem ipsum dolor sit amet, velit dicunt ocurreret id quo. Decore timeam utamur vel in. Pro no euismod voluptatum, soleat sententiae has te, quo id etiam officiis. Recusabo repudiare adipiscing eum ne, eos ut veniam iisque nusquam.</p>
                <a href="">
                    <p>Learn more about the API here</p>
                </a>
                <div class="hexagon">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service-div">
                <div class="service-title payment">
                    <h2>Payment</h2>
                </div>
                <img src="../images/payment.bmp">
                <p>Lorem ipsum dolor sit amet, velit dicunt ocurreret id quo. Decore timeam utamur vel in. Pro no euismod voluptatum, soleat sententiae has te, quo id etiam officiis. Recusabo repudiare adipiscing eum ne, eos ut veniam iisque nusquam.</p>
                <a href="">
                    <p>Learn more about the API here</p>
                </a>
                <div class="hexagon">
                </div>
            </div>
        </div>
    </div>
</div>
