<div ng-controller="MainCtrl">
    <div class="row single-service-page services-parent-div">
        <div class="col-md-6">
            <div class="service-title payment">
                <h2>Payments</h2>
            </div>
            <p style="margin: 0px;">Lorem ipsum dolor sit amet, velit dicunt ocurreret id quo. Decore timeam utamur vel in. Pro no euismod voluptatum, soleat sententiae has te, quo id etiam officiis. Recusabo repudiare adipiscing eum ne, eos ut veniam iisque nusquam.</p>
        </div>
        <div class="col-md-6 service-text">
            <img src="../images/payment.bmp" class="img-responsive">
        </div>
    </div>
</div>
