<div ng-controller="MainCtrl">
  <div class="row services-parent-div">
    <div class="col-md-12 introduction">
      <p class="text-uppercase text-center">Services</p>
    </div>
    <div class="services-list clearfix col-md-12">
      <div class="container">
        <div id="home_div">
          <div class="list-group">
            <div class="list-group-item">
              <h4>Transfers</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eget cursus felis. Sed et massa eget quam eleifend condimentum. Suspendisse porta libero eget mauris dapibus sollicitudin. Praesent suscipit enim nec orci aliquam, eu suscipit lacus molestie. Aenean interdum tincidunt tristique. Maecenas ut luctus massa. Donec cursus viverra eros id lacinia. Morbi eu lobortis diam. Vestibulum vel tincidunt dui. Nunc ut magna magna. Praesent sapien dui, scelerisque sed nulla vel, posuere dignissim tellus. Integer diam magna, varius et tempor a, condimentum eu enim. Vivamus accumsan vel velit ut feugiat. Nunc cursus, purus nec tristique finibus, est orci dictum nibh, vel auctor ex lorem sollicitudin ante.</p>
              <div>
                <a href="/#/transfers-APIdocumentation">Documentation</a> |
                <a href="/#/transfers-API-Discussion">Discussion</a>
              </div>
            </div>
            <div class="list-group-item">
              <h4>Payments</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eget cursus felis. Sed et massa eget quam eleifend condimentum. Suspendisse porta libero eget mauris dapibus sollicitudin. Praesent suscipit enim nec orci aliquam, eu suscipit lacus molestie. Aenean interdum tincidunt tristique. Maecenas ut luctus massa. Donec cursus viverra eros id lacinia. Morbi eu lobortis diam. Vestibulum vel tincidunt dui. Nunc ut magna magna. Praesent sapien dui, scelerisque sed nulla vel, posuere dignissim tellus. Integer diam magna, varius et tempor a, condimentum eu enim. Vivamus accumsan vel velit ut feugiat. Nunc cursus, purus nec tristique finibus, est orci dictum nibh, vel auctor ex lorem sollicitudin ante.</p>
              <div>
                <a href="/#/payments-APIdocumentation">Documentation</a> |
                <a href="/#/payments-API-Discussion">Discussion</a>
              </div>
            </div>
            <div class="list-group-item">
              <h4>Airtime Purchases</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eget cursus felis. Sed et massa eget quam eleifend condimentum. Suspendisse porta libero eget mauris dapibus sollicitudin. Praesent suscipit enim nec orci aliquam, eu suscipit lacus molestie. Aenean interdum tincidunt tristique. Maecenas ut luctus massa. Donec cursus viverra eros id lacinia. Morbi eu lobortis diam. Vestibulum vel tincidunt dui. Nunc ut magna magna. Praesent sapien dui, scelerisque sed nulla vel, posuere dignissim tellus. Integer diam magna, varius et tempor a, condimentum eu enim. Vivamus accumsan vel velit ut feugiat. Nunc cursus, purus nec tristique finibus, est orci dictum nibh, vel auctor ex lorem sollicitudin ante.</p>
              <div>
                <a href="/#/airtime-purchases-APIdocumentation">Documentation</a> |
                <a href="/#/airtime-purchases-API-Discussion">Discussion</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
