<div ng-controller="DashboardCtrl">
  <div class="row dashboard-parent-div" data-ng-init="getApp()">
    <div class="col-md-12">
      <div class="single-app">
        <h4 class="app-title">APP DETAILS</h4>
        <hr>
        <div class="row list-group">
          <!-- <div class="col-md-8"> -->
          <P><b>NAME: </b> {{appBody.app.name}}</P>
          <p><b>DESCRIPTION: </b> {{appBody.app.description}}</p>
          <a href="/#/user/{{user._id}}/dashboard/app/{{appBody.app._id}}/edit"><i class="fa fa-pencil fa"></i></a>
          <!-- <div class="col-md-3" ng-if="appBody.app.key.length !== 0"> -->
          <div>
            <h5 class="appBody.app-title"><b>APP KEYS</b></h5>
            <div class="blue-box">
              <p>CLIENT ID</p>
              <p data-ng-bind="appBody.app.clientId"></p>
            </div>
            <div class="blue-box">
              <p>CLIENT SECRET</p>
              <p data-ng-bind="appBody.app.clientSecret"></p>
            </div>
            <!--    <button class="btn btn-sm btn-default glyphicon glyphicon-plus" type="button" ng-click="addKey(appBody.app)">
            </button> -->
            <!--  <div data-ng-repeat="apiKey in appBody.app.key">
              {{apiKey.key}}
              <span class="btn-default glyphicon glyphicon-plus" ng-click="deleteKey(apiKey, appBody.app.key, $index)">
              </span>
            </div> -->
          </div>
          <div class="service-table">
            <p><b>SERVICE CALLS</b></p>
            <table class="table">
              <thead>
                <tr>
                  <th>Payments</th>
                  <th>Transfers</th>
                  <th>Recharges</th>
                  <th>Total Count</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td data-ng-bind="appBody.serviceCount.paymentCount"></td>
                  <td data-ng-bind="appBody.serviceCount.transferCount"></td>
                  <td data-ng-bind="appBody.serviceCount.rechargeCount"></td>
                  <td data-ng-bind="appBody.serviceCount.totalCount"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>
