<div ng-controller="DiscussionsCtrl" ng-cloak>
  <md-content class="md-padding">
    <md-card>
      <!-- <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out"> -->
      <md-card-content>
        <h3><b>Discussions</b></h3>
        <div ng-init="singleDiscussion()" flex>
          <div>
            <img src="">
            <h3>Title: {{discussion.title}}</h3>
            <h4><b>Caption: </b>{{discussion.caption}}</h4>
            <p><b>Content: </b>{{discussion.discussionContent}}</p>
            <p><b>By: </b>{{discussion.user.username}}</p>
          </div>
          <ul class="discussion-icon">
            <!-- <li class="pull-left"><span class="glyphicon glyphicon-comment"></span>&nbsp;{{discussion.comments.length}}&nbsp;Comments</li> -->
            <ul ng-repeat="comment in discussion.comments">
              <li>
                <p>{{comment.commentContent}}</p>
                <span>By: {{comment.creator.username}}</span>
              </li>
            </ul>
            <li class="pull-left insights-icon-li"><span class=" icon-like"><i class="fa fa-heart"></i>&nbsp;{{discussion.likes.length}}&nbsp;<md-button ng-click="likeBlog(discussion)">Likes</md-button></span> </li>
          </ul>
          <!--     <div ng-if="!openDiscussionForm">
      <div>Blog List</div>
      <md-button ng-click="openForm()">Likes</md-button>
    </div> -->
          <!--    <label class="control-label" for="blog">Join in the Discussion</label>
  </div> -->
          <br>
          <br>
          <div class="col-md-12">
            <form class="form-horizontal" data-ng-submit="createComment(discussion)" novalidate>
              <fieldset>
                <div class="form-group">
                  <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error" style="color:#F00;"></strong>
                  </div>
                  <label class="control-label" for="Content">COMMENTS</label>
                  <div class="controls">
                    <textarea type="text" data-ng-model="commentContent" id="content" class="form-control" required></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <!-- <a href="">preview</a> -->
                  <input type="submit" class="btn btn-default">
                </div>
                <!--    <div class="col-xs-12 error-message" ng-show="message">
              <div class="col-xs-12" ng-bind="message" style="color:#F00;"></div>
            </div> -->
              </fieldset>
            </form>
          </div>
        </div>
      </md-card-content>
    </md-card>
  </md-content>
</div>
