<div ng-controller="BlogsCtrl" ng-cloak>
  <md-content class="md-padding" ng-controller="DashboardCtrl" data-ng-init="getUser()">
    <md-card>
      <md-card-content>
        <h3><b>Blogs</b></h3>
        <div ng-init="singleBlog()" flex>
          <img src="">
          <h3>Title: {{blog.title}}</h3>
          <h4><b>Caption: </b>{{blog.caption}}</h4>
          <p><b>Content: </b>{{blog.blogContent}}</p>
          <p><b>By: </b>{{blog.user.username}}</p>
          <ul class="discussion-icon">
            <ul ng-repeat="comment in blog.comments">
              <li>
                <p>{{comment.commentContent}}</p>
                <span>By: {{comment.creator.username}}</span>
              </li>
            </ul>
            <li class="pull-left insights-icon-li"><span class=" icon-like"><i class="fa fa-heart"></i>&nbsp;{{blog.likes.length}}&nbsp;<md-button ng-click="likeBlog(blog)">Likes</md-button></span> </li>
            <li><a href="/#/community/blogs/{{blog._id}}/edit" class="btn btn-sm btn-default glyphicon glyphicon-pencil pull-right" ng-if="user.role=='admin'"></a></li>
          </ul>
          <br>
          <br>
          <div class="col-md-12">
            <form class="form-horizontal" data-ng-submit="createComment(blog, user)" novalidate>
              <fieldset>
                <div class="form-group">
                  <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error" style="color:#F00;"></strong>
                  </div>
                  <label class="control-label" for="Content">COMMENTS</label>
                  <div class="controls">
                    <textarea type="text" data-ng-model="commentContent" id="content" class="form-control" required></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <input type="submit" class="btn btn-default">
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </md-card-content>
    </md-card>
  </md-content>
</div>
