<div ng-controller="DashboardCtrl" data-ng-init="getUser()">
  <div class="services-parent-div" ng-if="user.role ==='developer'">
    <!--  <div ng-controller="AuthenticationCtrl">
            <a ng-click="signout()" class="pull-right">Logout</a>
        </div> -->
    <!-- <h2 class="introduction"><b>APP DETAILS</b></h2> -->
    <div class="col-md-12 introduction">
      <h2 class="text-uppercase text-center"><b>USER DETAILS</b></h2>
    </div>
    <p>Username: </p>
    <div class="form-control login-input blue-box" data-ng-bind="user.username"> </div>
    <p>Email: </p>
    <div class="form-control login-input blue-box" data-ng-bind="user.email"> </div>
    <a href="/#/user/{{user._id}}/profile/edit"><i class="fa fa-pencil-square-o fa-2x pull-right"></i></a>
    <p>Role:</p>
    <div class="form-control login-input blue-box" data-ng-bind="user.role"> </div>
    <div class="access-div">
      <p> List Of Unrestricted Services</p>
      <!-- <div data-ng-repeat="permission in user.permissions"> -->
      <div class="form-control login-input blue-box" data-ng-repeat="permission in user.permissions">
        <p data-ng-bind="permission"></p>
      </div>
      <!-- </div> -->
    </div>
    <p>Access Token: </p>
    <div class="form-control login-input blue-box" data-ng-bind="user.token"> </div>
  </div>
  <div class="row services-parent-div" ng-if="user.role !=='developer'">
    You are not a developer. Please sign in as a devloper to view this page
  </div>
</div>
