.face {
  height: 100px;
  width: 100px;
  border: 1px solid #ccc;
  border-radius: 48px;
  display: inline-block;
  background-color: #ccc;
  margin: 0 auto;
}

.blog-body {
  display: inline-block;
  color: #000;
  margin: 5px 0 0 20px;
}

.blog-body h3 {
  margin-top: 0 !important;
}

.community-box {
  margin-top: 20px !important;
  padding: 0px !important;
}

.community-body {
  padding: 0 15px !important;
}

.discussion-icon {
  list-style: none;
}

.discussion-single-div a {
  text-decoration: none;
}

.discussion-single-div:hover hr {
  border-color: #2A68C9;
}

.discussion-div img {
  margin: 16px;
  border: 1px solid #ddd;
  width: 80px;
  height: 80px;
  border-radius: 40px;
}

.black-color {
  color: #000 !important;
}

.single-blog {
  background: #2A68C9;
}

.blog-button {
  color: #fff;
  background: #2A68C9;
  border: 0 !important;
  transition: box-shadow .4s cubic-bezier(.25, .8, .25, 1), background-color .4s cubic-bezier(.25, .8, .25, 1);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
  box-sizing: border-box;
  /*border: #2A68C9;*/
  padding: 8px;
  font-size: 16px;
}
