<div ng-controller="DashboardCtrl" data-ng-init="getUser()">
  <div class="dashboard-parent-div" ng-if="user.role==='admin'">
    <div data-ng-init="getAllApps()">
      <div class="col-md-12" data-ng-controller="AdminCtrl" data-ng-init="getAllDevelopers()">
        <div class="config-panel">
          <ul>
            <li>
              <a>
                <h4>ADMIN DASHBOARD</h4>
              </a>
            </li>
          </ul>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-8 col-sm-4">
            <div class="row">
              <div class="inner-div clearfix">
                <div class="dashboard-top gold"><i class="fa fa-users fa-3x dashboard-icon"></i>
                </div>
                <div class="list-div">
                  <ul class="list-style-none">
                    <li data-ng-bind="allDevelopers.length"></li>
                    <li ng-if="allDevelopers.length===1">Developer</li>
                    <li ng-if="allDevelopers.length > 1">Developers</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-8 col-sm-4">
            <!-- <div class="col-md-4 white-background"> -->
            <div class="row">
              <div class="inner-div clearfix">
                <div class="dashboard-top light-blue"><i class="fa fa-asterisk fa-4x dashboard-icon"></i>
                </div>
                <div class="list-div">
                  <ul class="list-style-none">
                    <li data-ng-bind="allApps.length"></li>
                    <li ng-if="allDevelopers.length===1">APP</li>
                    <li ng-if="allDevelopers.length > 1">APPS</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-8 col-sm-4">
            <div class="row">
              <div class="inner-div clearfix">
                <div class="dashboard-top blue"><i class="fa fa-users fa-3x dashboard-icon"></i>
                </div>
                <div class="list-div">
                  <ul class="list-style-none">
                    <li data-ng-bind="allDevelopers.length"></li>
                    <li>Developers</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body tabs">
              <ul class="nav nav-tabs">
                <li ng-class="{active: $index === selectedTabIndex}" ng-repeat="tab in dashboardTabs">
                  <a ng-click="switchTab($index)">
                    <h4>{{tab}}</h4>
                  </a>
                </li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane fade in active" ng-if="selectedTabIndex===0">
                  <!--   <div class="row input-form"> -->
                  <div class="col-md-12 input-form panel panel-default dev-table">
                    <h4 class="text-center panel-heading">DEVELOPERS</h4>
                    <div ng-if="allDevelopers.length===0">
                      NO EXISTING DEVELOPER
                    </div>
                    <div class="panel-body">
                      <table class="table">
                        <col width="200">
                          <col width="100">
                            <thead>
                              <tr>
                                <th>Username</th>
                                <!-- <th>Number Of Apps</th> -->
                                <th>Role</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr data-ng-repeat="developer in allDevelopers">
                                <td>{{developer.username}}</td>
                                <!-- <td>{{developer}}</td> -->
                                <td>{{developer.role}}</td>
                              </tr>
                            </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade in active" ng-if="selectedTabIndex===1">
                  <div class="col-md-12 input-form panel panel-default dev-table">
                    <h4 class="text-center">APP DATA</h4>
                    <div ng-if="allApps.length===0">
                      NO APP EXISTS
                    </div>
                    <div data-ng-repeat="app in allApps">
                      <!-- <b></b> {{app}} -->
                      <table class="table" data-ng-init="singleAppService(app._id)">
                        <col width="60">
                          <col width="150">
                            <col width="30">
                              <col width="30">
                                <col width="30">
                                  <col width="30">
                                    <thead>
                                      <tr>
                                        <th>App Name</th>
                                        <th>Description</th>
                                        <th>Payments</th>
                                        <th>Transfers</th>
                                        <th>Recharges</th>
                                        <th>Total Calls</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr data-ng-repeat="count in appServiceCount">
                                        <td>{{app.name}}</td>
                                        <td>{{app.description}}</td>
                                        <td>{{count.paymentCount}}</td>
                                        <td>{{count.transferCount}}</td>
                                        <td>{{count.rechargeCount}}</td>
                                        <td>{{count.totalCount}}</td>
                                      </tr>
                                    </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="tab-pane fade in active" ng-if="selectedTabIndex===1">
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row services-parent-div" ng-if="user.role !== 'admin'">
    You are not an administrator . Please sign in as an administrator to view this page.
  </div>
</div>
