<div class="login-box">

    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Verify Your Account</p>
        <form ng-submit="verifyAdmin(user)">
            <div class="form-group has-feedback">
                <input type="text" class="form-control login-input" placeholder="Username" ng-model="user.username">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control login-input" placeholder="Password" ng-model="user.password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center" ng-show="promiseLoader"><img class="loader" ng-src="{{promiseLoader}}"></div>
                <div class="col-xs-12 error-message" ng-show="message">
                    <div class="col-xs-12" ng-bind="message" style="color:#F00;"></div>
                </div>
                <div class="col-xs-12">
                    <button class="btn btn-tia-primary btn-block btn-flat">Verify</button>
                </div>
                <!-- /.col -->
            </div>
        </form>
    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
