<div class="modal-body" data-ng-controller="DashboardCtrl">
  <form ng-submit="newApp(app)">
    <div class="form-group has-feedback">
      <input type="text" class="form-control login-input" placeholder="App Name" ng-model="app.name "> 
    </div class="form-group has-feedback">
      <input type="text" class="form-control login-input" placeholder="App Description" ng-model="app.description">
    </div>
    <button class="btn btn-sm btn-default glyphicon glyphicon-plus" type="button" ng-click="addKey()">
      New Key
    </button>
    <div class="col-xs-12">
      <button class="btn btn-tia-primary btn-block btn-flat">Create App</button>
    </div>
    <!--select the key for the app from the users keys-->
  </form>
</div>
