<!-- <ul class="col-md-3 list-group">
  <li class="list-group-item documentation-side-bar" ng-class="{active: $index === selectedRoleIndex}" ng-repeat="tab in services" ng-click="switchDoc($index, tab)">
  <div ng-click="switchDoc($index, tab)"></div> -->
     <!-- <a href="{{tab.url}}"  -->
     <!-- ng-click="switchDoc($index, tab)"> -->
     <!-- {{tab.title}}</a> -->
<!--     {{tab.title}}
  </li>
</ul>  -->
<!-- <ul class="nav nav-pills nav-stacked">
  <li class="active">"><a href="/#/transfers-APIdocumentation">Tranfers</a></li>
  <li><a href="/#/payments-APIdocumentation">Bill Payments</a></li>
  <li><a href="/#/airtime-purchases-APIdocumentation">Airtime Purchases</a></li>
</ul> -->
<!-- <div class="col-md-3 list-group">
  <div class="list-group-item documentation-side-bar"><a href="/#/transfers-APIdocumentation">Tranfers</a></div>
  <div class="list-group-item documentation-side-bar"><a href="/#/payments-APIdocumentation">Bill Payments</a></div>
  <div class="list-group-item documentation-side-bar"><a href="/#/airtime-purchases-APIdocumentation">Airtime Purchases</a></div>
</div> -->
