<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
    <div class="login-panel panel panel-default">
      <div class="panel-heading">Sign Up</div>
      <div class="panel-body">
        <form ng-submit="register()">
          <div class="form-group has-feedback">
            <input type="text" class="form-control login-input" placeholder="Username (min 5 characters)" ng-model="username"/>
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <input type="text" class="form-control login-input" placeholder="Email" ng-model="email" />
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <input type="password" class="form-control login-input" placeholder="Password (must be between 7 to 9 characters)" ng-model="password" />
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          <div class="row">
            <div class="col-xs-12 error-message" ng-show="signupMessage">
              <div class="col-xs-12" ng-bind="signupMessage" style="color:#F00;"></div>
            </div>
            <div class="col-xs-12">
              <button class="btn btn-tia-primary btn-block btn-flat">Sign Up</button>
            </div>
          </div>
        </form>
        <span>Already have an account? <a href="/#/signin" class="text-center">Sign In</a></span>
      </div>
    </div>
  </div>
</div>
