<div class="login-box">
    <div class="login-logo login-header">
        <div class="row">
            <div class="col-xs-2"></div>
            <!--  <div class="col-xs-8">
            <a ui-sref="home" class="logo-link"><img class="header-logo" src="assets/img/andela-forum-logo.png"></a>
          </div> -->
            <div class="col-xs-2"></div>
        </div>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Sign Up</p>
        <form ng-submit="register()">
            <div class="form-group has-feedback">
                <input type="text" class="form-control login-input" placeholder="Username (min 5 characters)" ng-model="username" />
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="text" class="form-control login-input" placeholder="Email" ng-model="email" />
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control login-input" placeholder="Password (must be between 7 to 9 characters)" ng-model="password" />
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center" ng-show="promiseLoader"><img class="loader" ng-src="{{promiseLoader}}"></div>
                <div class="col-xs-12 error-message" ng-show="signupMessage">
                    <div class="col-xs-12" ng-bind="signupMessage"></div>
                </div>
                <div class="col-xs-12">
                    <button class="btn btn-tia-primary btn-block btn-flat">Sign Up</button>
                </div>
            </div>
        </form>
        <span>Already have an account? <a href="/#/signin" class="text-center">Sign In</a></span>
    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
